/* .header__container {
  background-image: url("../../assets/consultorioblurazul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

#ceredentHeader {
  border-radius: 20%;
  opacity: 80%;
  min-width: 250px;
  max-width: 500px;
}

#imgFamilia {
  filter: drop-shadow(5px 5px 5px #000000);
  max-width: 560px;
}