.animation-flow-top,
.animation-flow-top-show,
.animation-flow-left,
.animation-flow-right {
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  will-change: opacity;
  animation-fill-mode: forwards;
}

 /* animation from left */
.animation-flow-left {
  animation-name: ani-flow-left;
}

 /* animation from right */
.animation-flow-right {
  animation-name: ani-flow-right;
}

 /* animation-flow-top { */
.animation-flow-top {
  animation-name: ani-flow-top;
}

 /* animation-flow-top-show { */
.animation-flow-top-show {
  animation-name: ani-flow-top-show;
}

.animation-scale {
 animation: scale 4s infinite;
  will-change: transform;
}

.line-animation {
  animation-name: barWidth;
  will-change: transform;
  margin: auto;
}

.line-animation {
  width: 60%;
  height: 5px;
  background: rgb(134, 34, 195);
  background: linear-gradient(
    0deg,
    rgba(134, 34, 195, 1) 0%,
    rgba(45, 105, 253, 1) 100%
  );
  animation: barWidth 3s linear infinite;
}


@keyframes barWidth {
  0% {
    width: 5%;
  }
  25% {
    width: 10%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 10%;
  }
  100% {
    width: 5%;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ani-flow-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes ani-flow-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes ani-flow-top {
  from {
    transform: translateY(20px);
  }
}

@keyframes ani-flow-top-show {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}